/*login.html*/
#body{
    background-color:#0295ff;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

#login-form{
    background-color:white;
    padding: 70px;
    border-radius: 20px;
    border: 2px solid #ccc;
    box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.3);
    text-align: center;
    display:flex;
    flex-direction: column;
    gap: 20px;
    font-family: 'Space Grotesk', sans-serif;
}

.logos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 20px;
}

.logo {
    width: 120px;
    height: 120px;
    object-fit: contain;
}

.logo:first-child {
    width: 140px;
    height: 120px;
}

.logo:last-child {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

/*index.html*/
body{
    background-color: #FFFFFF;
    color: #001310;
    height:100vh;
}

.menu{
    display: flex;
    justify-content: center;
    gap: 40px;
    list-style: none;
    padding: 20px 0;
    margin: 0;
    font-family: 'Space Grotesk', sans-serif;
    background-color: #0295ff;
}

.menu a{
    text-decoration: none;
    color:#FFFFFF;
    font-size: 20px;
    font-weight: bold;
}

/* scout.html */
.titleP {
    text-align: center;
    color: #0295ff;
    font-family: 'Space Grotesk', sans-serif;
}